.default-menu {
  display: grid;
  grid-template-rows: 1fr 70px;
  height: 100%;
  width: 100%;

  .elements {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .edit {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: 1px solid #141414;
  }
}
