@import "../../App.scss";

// Variables
$transition-speed: 0.15s;
$padding: 10px;
$main-menu-height: 200px;
$main-menu-width: 200px;
$side-menu-width: 50px;
$bottom-menu-height: 200px;
$arrow-sizes: 1.25rem;

.menu {
  position: fixed;
  height: $main-menu-height;
  width: $main-menu-width;
  left: 10px;
  top: 10px;
  background: $dark-menu-color;
  box-shadow: 0 0 3px black;
  border-radius: 5px;
  color: #b8b8b8;
  transition: $transition-speed;

  &.dark {
    background: $dark-menu-color;
    color: $dark-text-color;
  }

  &.light {
    background: $light-menu-color;
    color: $light-text-color;
  }

  &.side-expanded {
    width: calc(#{$main-menu-width} + #{$side-menu-width});
  }

  &.bottom-expanded {
    height: calc(#{$main-menu-height} + #{$bottom-menu-height});
  }

  svg {
    // font-size: 1.5rem;
    fill: #b8b8b8;
    &:hover {
      cursor: pointer;
    }
  }

  .top-menu {
    // padding: $padding;
    display: grid;
    grid-template-columns: $main-menu-width $side-menu-width;
    align-items: center;
    width: 100%;
    height: $main-menu-height;

    .main-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      height: 100%;
      width: 100%;

      button {
        margin: auto;
      }
    }
  }

  .arrow {
    background: transparent;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $transition-speed;

    svg {
      font-size: $arrow-sizes;
    }
  }

  .side-arrow {
    height: 100%;
    top: 0;
    right: -$arrow-sizes;
  }

  .bottom-arrow {
    width: 100%;
    bottom: -$arrow-sizes;
    left: 0;
  }
}
