button {
  position: relative;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #141414;
  color: #b8b8b8;
  border: none;
  border-radius: 5px;
  font-size: 1rem;

  &:hover {
    color: #1f1f1f;
    cursor: pointer;

    svg {
      fill: #1f1f1f;
    }
  }

  &.active {
    background: lightblue;
    transition: opacity 0.3s;

    svg {
      fill: #1f1f1f;
    }
  }

  svg {
    font-size: 1.5rem;
    fill: #b8b8b8;
  }

  .tooltip {
    position: absolute;
    top: 50px;
    left: 50px;
    padding: 10px;
    display: inline-block;
    border-bottom: 1px dotted black;
    background-color: black;
    color: #fff;
    font-size: 0.6rem;
    white-space: nowrap;

    .tooltip-text {
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;

      /* Position the tooltip */
      position: absolute;
    }
  }

  .visible {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.1s;
    transition-delay: 1.5s;
    z-index: 1;
  }

  .hidden {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }
}
