@import "../App.scss";

button {
  position: relative;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  font-size: 1rem;

  &:hover {
    // color: #1f1f1f !important;
    cursor: pointer;

    // svg {
    //   fill: #1f1f1f !important;
    // }
  }

  &.active {
    transition: opacity 0.3s;
  }

  &.dark {
    background: $dark-button-color;
    color: $dark-text-color;

    &:hover {
      background: $light-background-color !important;

      svg {
        fill: $dark-background-color !important;
      }
    }

    &.active {
      background: $dark-highlight-color-1 !important;

      svg {
        fill: $light-highlight-color-1 !important;
      }
    }

    svg {
      fill: $dark-text-color;
    }
  }

  &.light {
    background: $light-button-color;
    color: $light-text-color;

    &:hover {
      background: $dark-background-color !important;

      svg {
        fill: $light-background-color !important;
      }
    }

    &.active {
      background: $light-highlight-color-1 !important;

      svg {
        fill: $dark-highlight-color-1 !important;
      }
    }

    svg {
      fill: $light-text-color;
    }
  }

  svg {
    font-size: 1.5rem;
  }

  .tooltip {
    position: absolute;
    top: 50px;
    left: 50px;
    padding: 10px;
    display: inline-block;
    border-bottom: 1px dotted black;
    background-color: black;
    color: #fff;
    font-size: 0.6rem;
    white-space: nowrap;

    .tooltip-text {
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;

      /* Position the tooltip */
      position: absolute;
    }
  }

  .visible {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.1s;
    transition-delay: 1.5s;
    z-index: 100;
  }

  .hidden {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }
}
